altgraph==0.17.4
autoflake==2.3.0
Babel==2.14.0
black==24.2.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
flake8==7.0.0
fontawesome-markdown==0.2.6
ghp-import==2.1.0
idna==3.6
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.3
Markdown==3.5.2
MarkupSafe==2.1.5
mccabe==0.7.0
mergedeep==1.3.4
mkdocs==1.5.3
mkdocs-material==9.5.12
mkdocs-material-extensions==1.3.1
mypy-extensions==1.0.0
-e git+ssh://git@github.com/noclocks/noclockscli.git@e53f150b806e4d64ca51a7191108167b35cabe2c#egg=noclockscli
packaging==23.2
paginate==0.5.6
pathspec==0.12.1
platformdirs==4.2.0
pluggy==1.4.0
pycodestyle==2.11.1
pyflakes==3.2.0
Pygments==2.17.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
pymdown-extensions==10.7
pytest==8.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyyaml_env_tag==0.1
regex==2023.12.25
requests==2.31.0
six==1.16.0
urllib3==2.2.1
watchdog==4.0.0
